/* Project.module.css */
.section-heading{ 
  padding-top: 20px;
  margin-left:41vw;
  font-size: 2.2rem;
  color: green;
}

@media screen and (max-width:768px) {
  .section-heading{ 
    padding-top: 20px;
    margin-left:25vw;
    font-size: 2.2rem;
    color: green;
  }
}
.portfolio{
  background-color: hsl(235, 11%, 23%);
  margin-top: -22px;
  padding-top: 70px;
}
#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
  }
   
  .portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .portfolio-image-container img {
    width: 100%;
    height: 100%;
  }
  
  .portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
  }
  
  .portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
  }
  
  .portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
  }
  