/* Skills.module.css */

.section-heading{
  padding-top: 20px;
  margin-left:28vw;
  font-size: 2.2rem;
}
.technologies {
  background-color:hsl(235, 11%, 23%);
  height:fit-content;
  color: green;
}

.technologies *::selection {
  background-color: hsl(161, 86%, 44%);
  color: hsl(224, 29%, 15%);
}

.technologies .container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 1.2rem;
  position: relative;
  height: 100%;
}

.technologies h2 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 3.3rem;
}

.techMarquee {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.techlogo {
  /* max-width: 5rem; */
  max-height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.techlogo img {
  width: 100%;
  height: 100%;
  max-height: 3rem;
  object-fit: scale-down;
  object-position: center;
  border-radius: 0.2rem;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
}
