/* About.module.css */

.about {
  width: 100%;
  position: relative; 
  margin-bottom: 30px;
  z-index: 1;
}

.about .myimage { 
  width: 12rem;
  margin: auto;
  margin-top: -14vh;
  z-index: -5;
} 

.about .myimage img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 1px 1px 10px 2px lightgrey;
  z-index: -5;
}

.about .about-para {
  background-color: #181c2b;
  z-index: 1;
  margin-top: -87px;
}

.about .about-para p {
  padding-top: 150px;
  text-align: justify;
  color: grey;
  line-height: 28px;
  font-size: 1.1rem;
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (min-width: 768px) {
  .about {
      height: 70vh;
  }
  
  .about .about-para {
      height: 70vh;
  }
  
  .about .about-para p {
      padding-top: 0;
  }
}
