.section-heading {
  padding-top: 20px;
  margin-left: 41vw;
  font-size: 2.2rem;
  margin-top: -120px;
}

.contact {
  background-color: #0abcf9;
  background-color: hsl(227, 28%, 13%);
  color: white;
  padding-bottom: 40px;
  margin-top: 120px;
}

.contact h1,
.contact h1 span {
  color: white;
}



.contact-container {
  display: flex;
  
  width: 35vw;
  margin-left: 150px;
}

.contact-form-container {
  width: 100%;
}

.contact-form input,
textarea {
  max-width: 90%;
  margin: 15px;
  padding: 4px 10px;
  border: 0px solid transparent;
  /* border-bottom: 2px solid white; */
   margin-left: -1.5px;
  color: #d9dcdd;
  background:hsl(233, 50%, 7%);
  width: 90%;
  line-height: 1.6;
  font-size: 1.05rem;
  height: 50px;
}

.contact-form button[type="submit"] {
  margin-top: 5%;
  margin-left: 32%;
  font-family: sans-serif;
  padding: 0.8em 0.8em 0.78em;
  border: none;
  border-radius: 0.3rem;
  background-color: hsl(161, 86%, 44%);
  color: hsl(232, 50%, 7%);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  line-height: 1.6;
  cursor: pointer;
  width: 150px;
}
.contact-form button[type="submit"]:hover{
    background-color: hsl(161, 86%, 40%);
}
.sub-btn a{
    text-decoration: none;
    color: black;
}
/* Social */
.horizontal-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

.horizontal-list li {
  display: inline-block;
  margin: 0px 8px 8px 0px;
  font-weight: 100;
  font-size: 0.9rem;
}

.horizontal-list li a {
  color: white;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.namesocialcontainer{
  margin-top: 20px;
}
.social-icons li a i {
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 50%;
}

.social-icons li a i img{
  width: 30px;
  height: 30px;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}


.mapAndContact{
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
}

/* map */
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 1rem;
    margin-top: 20px;
  }
  
  .right .map {
    height: 100%;
    width: 100%;
    max-width: 500px;
    border-radius: 0.5rem;
    overflow: hidden;
    -webkit-user-drag: none;
    position: relative;
    cursor: pointer;
  }
  
  .right .map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
    transition: transform 1.5s ease-in-out;
  }
  
  .right .map:hover img {
    transform: scale(3);
    transition: transform 1.5s ease-in-out;
  }
  
  .map .mapMarker {
    position: absolute;
    top: -10%;
    left: -10%;
    transform: translate(-50%, -50%);
    height: 3rem;
    width: 3rem;
    -webkit-user-drag: none;
    color: hsl(168, 100%, 33%);
    transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  }
  
  .map:hover .mapMarker {
    left: 50%;
    top: 25%;
  }
  
  .right .address {
    max-width: 500px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.03rem;
    line-height: 1.6;
    color: hsl(232, 50%, 93%);
  }
  
  .right .address .icon {
    height: 2rem;
    width: 2rem;
    -webkit-user-drag: none;
    color: hsl(161, 86%, 44%);
  }


  .callToActions {
    display: flex;
    gap: 1rem;
    position: relative;
    width: 100%;
  }
  
  .callToActions .resumeDownloadButton {
    width: 100%;
    max-width: 250px;
    padding: 0.4rem;
    border: none;
    border-radius: 0.3rem;
    background-color: hsl(161, 86%, 44%);
    color: hsl(232, 50%, 7%);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    line-height: 1.6;
    cursor: pointer;
    margin-top: 1rem;
    position: relative;
  }
  
  .callToActions .resumeDownloadButton:hover {
    background-color: hsl(161, 86%, 40%);
  }
  
  .resumePreviewPopup {
    width: 100%;
    max-width: 300px;
    height: auto;
    position: absolute;
    left: 110%;
    bottom: 10%;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    pointer-events: visiblePainted;
    visibility: hidden;
  }
  
  /* shadow animation behind popup */
  .resumePreviewPopup::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    background-color: hsl(232, 50%, 13%);
    border-radius: 0.5rem;
    z-index: -1;
    filter: blur(0.5rem);
  }
  
  .resumePreviewPopup img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-user-drag: none;
    border-radius: 0.5rem;
  }
  
  .resumeDownloadButton:hover .resumePreviewPopup {
    visibility: visible;
    opacity: 1;
    transform: translate(10%, -20%);
    animation: popout 1s ease-in-out;
  }
  
  @keyframes popout {
    0% {
      visibility: visible;
      transform: translate(0, 0);
    }
    50% {
      transform: translate(10%, -20%) scale(1.1);
    }
    100% {
      transform: translate(10%, -20%);
      visibility: visible;
    }
  }
  




/* Smaller Screen Styles */

@media screen and (max-width: 768px) {
  .contact {
    background-color: #0abcf9;
    background-color: hsl(227, 28%, 13%);
    color: white;
    padding-bottom: 40px;
    margin-top: 100px;
  }
  .section-heading {
    margin-left: 0;
    text-align: center;
    font-size: 1.8rem; /* Adjust font size for smaller screens */
    margin-top: -100px; /* Adjust margin top for smaller screens */
  }

  .contact-container {
    width: 90%; /* Adjust width for smaller screens */
    margin-left: auto;
    margin-right: auto;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%; /* Adjust width for smaller screens */
    margin: 10px auto; /* Adjust margin for smaller screens */
    padding: 8px 10px; /* Adjust padding for smaller screens */
    font-size: 0.9rem; /* Adjust font size for smaller screens */
    height: 40px; /* Adjust height for smaller screens */
  }

  .contact-form button[type="submit"] {
    margin-top: 8%; /* Adjust margin top for smaller screens */
    margin-left: auto; /* Adjust margin left for smaller screens */
    margin-right: auto; /* Adjust margin right for smaller screens */
    font-size: 0.9rem; /* Adjust font size for smaller screens */
    width: 120px; /* Adjust width for smaller screens */
  }

  .mapAndContact {
    flex-direction: column; /* Adjust flex direction for smaller screens */
    margin-left: 5vw; /* Adjust margin for smaller screens */
    margin-right: 5vw; /* Adjust margin for smaller screens */
  }


  .right .map {
    max-width: 100%; /* Adjust max width for smaller screens */
    height: 250px; /* Adjust height for smaller screens */
  }

  .right .address {
    max-width: 100%; /* Adjust max width for smaller screens */
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }

  .callToActions .resumeDownloadButton {
    max-width: 200px; /* Adjust max width for smaller screens */
  }

  .resumePreviewPopup {
    max-width: 250px; /* Adjust max width for smaller screens */
  }
}
